* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: rgb(115,173,254); */
    background-image: url(../images/scenery.jpg);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.display {
    /* background: rgba(90, 193, 252, 0.3); */
    background-color: rgba(255, 255, 255, .4);
}

.phone {
    width: 30%;
    position: absolute;
    bottom: 0px;
    left: 15rem;
    /* margin: 0 auto; */
    height: 50%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 4rem;
}

.phone .header {
    width: 70%;
    height: 20%;
    margin: 0 auto;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-bottom: 5rem;
    text-align: center;
}

.phone .header p {
    font-size: 2rem;
    font-weight: bold;
    opacity: none;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.phone form {
    width: 70%;
    margin: 0 auto;
    border-radius: 1rem;
    box-sizing: border-box;
}

.phone form input {
    width: 80%;
    padding: 1.5rem 0;
    margin: 1rem 10%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.phone form #checkYear {
    width: 40%;
    margin: 1rem 30%;
}

.phone form #checkYear:hover {
    cursor: pointer;
    border: black 1px solid;
}

.phone2 .image{
    width: 60%;
    height: 60%;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 20%;
    /* margin: -25px 0 0 -25px */
}

.phone2 .image img{
    width: 100%;
    min-height: 308px;
    border: rgba(255, 255, 255, 0.315) solid;
    border-radius: 10px;
    display: none;
}

#output {
    display: none;
    width: 50%;
    padding: 1.5rem 0;
    margin: 1rem auto;
    border-radius: 0.4rem;
    border: none;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 30%;
    margin: -25px 0 0 -25px
}

.showOutput {
    display: block !important;
}

.phone2 {
    width: 60%;
    height: 70%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2rem;
    margin-top: 10%;
    position: relative;
}